In [2]:
int_number = 1
float_number = 1.0
complex_number = 1 + 2j
#後面留下幾位小數點(自動四捨五入)
round_float = round(1234.5678, 1)
str2int = int('213')
 
print(round_float)
print(str2int)

1234.6
213

In [6]:
#介紹list類型資料
number_list = [0, 1, 1, 2, 3, 5, 8]
slicing_4_a_specific_pos = number_list[3]
slicing_4_the_last_pos = number_list[-1]
slicing_4_consecutive_pos = number_list[0:3]
slicing_4_the_last_three = number_list[-3:]
print(slicing_4_a_specific_pos)
 
list_list = [[1, 2, 3], [4, 5, 6]]  # list of list
A_list = list_list[0]
A_ist_list = list_list[0:2]
A_number = list_list[0][1] #第一個代表是第幾個list，第二個代表該list的第幾個元素
print(A_list)
print(A_ist_list)
print(A_number)

2
[1, 2, 3]
[[1, 2, 3], [4, 5, 6]]
2

In [5]:
# Array and slicing
import numpy as np

number_list=[0,1,1,2,3,5,8] 
#list跟array不同，list可以包含各種類型的元素，array則只能包含同一種數據類型

#不分方向的矩陣
a = np.array([1, 2, 3]) # a vector has no direction

#有方向的1*3矩陣，才能做矩陣運算，之後要嘗試用矩陣運算的思考取代迴圈
A = np.array([[1, 2, 3]]) # a 1 x 3 array that can be transposed

##
a_T = a[:, np.newaxis] # a' although a has no direction
A_T = A.T # A的transpose矩陣 # 3*1矩陣
B = A.reshape(-1, 1) # 3*1矩陣
C = np.array([1, 2, 3], ndmin = 2) # convert a to A
E = A.reshape(1,-1) # 1*3矩陣

print(np.size(a))  # == print(a.size) number of elements in a
#3
print(np.shape(A_T))  # == print(A_T.shape) , array dimension
#(3,1)
 
D = np.array([[1, 2, 3],[4, 5, 6]]) #2*3矩陣
print(D[1]) # D[1] = D[1,:] # second row and all columns
#[4,5,6]
print(D[:, 1])#所有元素的第2個值
#[2,5]
print(D[:, 0:-1])#所有元素的0:-1的值
#[1,2],[4,5]
print(D[:, 1:])#所有元素從1到最後的值
#[2,3],[5,6]
print(D[:, -2:])#所有元素從-2到最後的值
#[2,3],[5,6]

3
(3, 1)
[4 5 6]
[2 5]
[[1 2]
 [4 5]]
[[2 3]
 [5 6]]
[[2 3]
 [5 6]]

In [2]:
# vector concatenation
#矩陣合併
import numpy as np
va = np.array([1, 2, 3])
vb = np.array([4, 5, 6])
#資料單純疊加
vc = np.concatenate((va, vb), axis = 0) # flatten a, b; try axis=1
#資料單純疊加
vd = np.append(va, vb)
#水平疊加
ve = np.hstack((va, vb)) #(1,6)
#垂直疊加
vF = np.vstack((va, vb)) #(2,3)

vg = np.r_[va, vb] #[1 2 3 4 5 6]
vG = np.c_[va, vb] #[1 4] [2 5] [3 6]

vH = (va, vb) # a tuple #包含兩個array

#matrix concatenation
 
ma = np.array([[1, 2, 3]]) # 1 x 3
mb = np.array([[4, 5, 6]]) # 1 x 3
mc = np.hstack((ma, mb))   # 1 x 6
  
# Vertically, concatenate row-wisely 
mC = np.concatenate((ma, mb), axis = 0) # 2 x 3 #[[1 2 3] [4 5 6]]
mD = np.r_[ma, mb] # 2 x 3 #[[1 2 3] [4 5 6]]
mE = np.vstack((ma,mb)) #2 x 3 #[[1 2 3] [4 5 6]]
  
# Horizontally, concatenate column-wisely
mF = np.concatenate((ma.T, mb.T), axis =1) # 3 x 2 #[[1 4] [2 5] [3 6]]
#[1,4],[2,5],[3,6]
mG = np.hstack((ma.T, mb.T)) # 3 x 2
#[1,4],[2,5],[3,6]
mH = np.c_[ma.T, mb.T] # 3 x 2
#[1,4],[2,5],[3,6]

In [11]:
S = np.array([[1, 3, 2], [6, 5, 4]])#2*3矩陣
print(S)
print(S.max()) #所有元素最大值
#6
print(S.max(0)) # column max
#[6,5,4]
print(np.max(S, axis = 1)) # row max
#[3,6] #3搭配6最大
 
a = S.flatten() # turn into vector
#[1 3 2 6 5 4]
b = S.flatten('F') # turn into vector column-wise
#[1 6 3 5 2 4]

S[S < 3] = 0 # check what S looks like

print(a)
print(b)
 
c = [1, 2, 3, 4]
C = np.tile(c,(5,1)) # 5 x 4 matrix
#[[1 2 3 4]
# [1 2 3 4]
# [1 2 3 4]
# [1 2 3 4]
# [1 2 3 4]]
d = np.reshape(C, (-1, 1)) # convert to Column vector
#20*1矩陣
print(c)
print(C)
print(d)

[[1 3 2]
 [6 5 4]]
6
[6 5 4]
[3 6]
[1 3 2 6 5 4]
[1 6 3 5 2 4]
[1, 2, 3, 4]
[[1 2 3 4]
 [1 2 3 4]
 [1 2 3 4]
 [1 2 3 4]
 [1 2 3 4]]
[[1]
 [2]
 [3]
 [4]
 [1]
 [2]
 [3]
 [4]
 [1]
 [2]
 [3]
 [4]
 [1]
 [2]
 [3]
 [4]
 [1]
 [2]
 [3]
 [4]]

Tuple Introduction

In [12]:
a_tuple = (0, 0) # ordered sequence
also_a_tuple = 0, 0
a_3d_tuple = (0, 1, 2) # (2,1,0) is different, however the list  [0,1,2] := [1,2,0]

Special Matrix

In [14]:
import numpy as np

#建立0矩陣 #感覺可以用再用迴圈的時候
Z = np.zeros((3,4)) # 3 x 4 zero matrix
#建立全部是1的矩陣
One =  np.ones((3,4)) # 3 x 4 one matrix
#建立單位矩陣
I = np.eye(3) # 3 x 3 identity matrix
#建立對角線矩陣
D = np.diag([1, 2, 3, 4]) # a diagonal matrix
e = np.diag(I) # the diagonal of I
print(Z)
print(One)
print(I)
print(D)
print(e)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[1 0 0 0]
 [0 2 0 0]
 [0 0 3 0]
 [0 0 0 4]]
[1. 1. 1.]

In [16]:
import numpy as np
  
x0 = [1, 2, 3, 4, 5, 6, 7, 8, 9] # a list
x1 = range(1, 10, 1) # a range
x2 = np.arange(1, 10, 1)  # an array of integer numbers
x3 = np.linspace(1, 9, 9)  # an array of float number
x4 = np.arange(10)  # start from 0 to 9
x5 = np.linspace(0, 100, 1000)
print(x0)
print(x1)
print(x2) #建立一個從1-9的array
#[1 2 3 4 5 6 7 8 9]
print(x3)
#[1. 2. 3. 4. 5. 6. 7. 8. 9.]
print(x4)
#[0 1 2 3 4 5 6 7 8 9]
print(x5)#0到100切1000個點
 
y1 = x2 + x3 + 1 # not x0 + x1 + 1
y2 = x2 ** 2 + x2 - 2
y3 = x2 / x3
print(y1)
print(y2)
print(y3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 10)
[1 2 3 4 5 6 7 8 9]
[1. 2. 3. 4. 5. 6. 7. 8. 9.]
[0 1 2 3 4 5 6 7 8 9]
[  0.           0.1001001    0.2002002    0.3003003    0.4004004
   0.5005005    0.6006006    0.7007007    0.8008008    0.9009009
   1.001001     1.1011011    1.2012012    1.3013013    1.4014014
   1.5015015    1.6016016    1.7017017    1.8018018    1.9019019
   2.002002     2.1021021    2.2022022    2.3023023    2.4024024
   2.5025025    2.6026026    2.7027027    2.8028028    2.9029029
   3.003003     3.1031031    3.2032032    3.3033033    3.4034034
   3.5035035    3.6036036    3.7037037    3.8038038    3.9039039
   4.004004     4.1041041    4.2042042    4.3043043    4.4044044
   4.5045045    4.6046046    4.7047047    4.8048048    4.9049049
   5.00500501   5.10510511   5.20520521   5.30530531   5.40540541
   5.50550551   5.60560561   5.70570571   5.80580581   5.90590591
   6.00600601   6.10610611   6.20620621   6.30630631   6.40640641
   6.50650651   6.60660661   6.70670671   6.80680681   6.90690691
   7.00700701   7.10710711   7.20720721   7.30730731   7.40740741
   7.50750751   7.60760761   7.70770771   7.80780781   7.90790791
   8.00800801   8.10810811   8.20820821   8.30830831   8.40840841
   8.50850851   8.60860861   8.70870871   8.80880881   8.90890891
   9.00900901   9.10910911   9.20920921   9.30930931   9.40940941
   9.50950951   9.60960961   9.70970971   9.80980981   9.90990991
  10.01001001  10.11011011  10.21021021  10.31031031  10.41041041
  10.51051051  10.61061061  10.71071071  10.81081081  10.91091091
  11.01101101  11.11111111  11.21121121  11.31131131  11.41141141
  11.51151151  11.61161161  11.71171171  11.81181181  11.91191191
  12.01201201  12.11211211  12.21221221  12.31231231  12.41241241
  12.51251251  12.61261261  12.71271271  12.81281281  12.91291291
  13.01301301  13.11311311  13.21321321  13.31331331  13.41341341
  13.51351351  13.61361361  13.71371371  13.81381381  13.91391391
  14.01401401  14.11411411  14.21421421  14.31431431  14.41441441
  14.51451451  14.61461461  14.71471471  14.81481481  14.91491491
  15.01501502  15.11511512  15.21521522  15.31531532  15.41541542
  15.51551552  15.61561562  15.71571572  15.81581582  15.91591592
  16.01601602  16.11611612  16.21621622  16.31631632  16.41641642
  16.51651652  16.61661662  16.71671672  16.81681682  16.91691692
  17.01701702  17.11711712  17.21721722  17.31731732  17.41741742
  17.51751752  17.61761762  17.71771772  17.81781782  17.91791792
  18.01801802  18.11811812  18.21821822  18.31831832  18.41841842
  18.51851852  18.61861862  18.71871872  18.81881882  18.91891892
  19.01901902  19.11911912  19.21921922  19.31931932  19.41941942
  19.51951952  19.61961962  19.71971972  19.81981982  19.91991992
  20.02002002  20.12012012  20.22022022  20.32032032  20.42042042
  20.52052052  20.62062062  20.72072072  20.82082082  20.92092092
  21.02102102  21.12112112  21.22122122  21.32132132  21.42142142
  21.52152152  21.62162162  21.72172172  21.82182182  21.92192192
  22.02202202  22.12212212  22.22222222  22.32232232  22.42242242
  22.52252252  22.62262262  22.72272272  22.82282282  22.92292292
  23.02302302  23.12312312  23.22322322  23.32332332  23.42342342
  23.52352352  23.62362362  23.72372372  23.82382382  23.92392392
  24.02402402  24.12412412  24.22422422  24.32432432  24.42442442
  24.52452452  24.62462462  24.72472472  24.82482482  24.92492492
  25.02502503  25.12512513  25.22522523  25.32532533  25.42542543
  25.52552553  25.62562563  25.72572573  25.82582583  25.92592593
  26.02602603  26.12612613  26.22622623  26.32632633  26.42642643
  26.52652653  26.62662663  26.72672673  26.82682683  26.92692693
  27.02702703  27.12712713  27.22722723  27.32732733  27.42742743
  27.52752753  27.62762763  27.72772773  27.82782783  27.92792793
  28.02802803  28.12812813  28.22822823  28.32832833  28.42842843
  28.52852853  28.62862863  28.72872873  28.82882883  28.92892893
  29.02902903  29.12912913  29.22922923  29.32932933  29.42942943
  29.52952953  29.62962963  29.72972973  29.82982983  29.92992993
  30.03003003  30.13013013  30.23023023  30.33033033  30.43043043
  30.53053053  30.63063063  30.73073073  30.83083083  30.93093093
  31.03103103  31.13113113  31.23123123  31.33133133  31.43143143
  31.53153153  31.63163163  31.73173173  31.83183183  31.93193193
  32.03203203  32.13213213  32.23223223  32.33233233  32.43243243
  32.53253253  32.63263263  32.73273273  32.83283283  32.93293293
  33.03303303  33.13313313  33.23323323  33.33333333  33.43343343
  33.53353353  33.63363363  33.73373373  33.83383383  33.93393393
  34.03403403  34.13413413  34.23423423  34.33433433  34.43443443
  34.53453453  34.63463463  34.73473473  34.83483483  34.93493493
  35.03503504  35.13513514  35.23523524  35.33533534  35.43543544
  35.53553554  35.63563564  35.73573574  35.83583584  35.93593594
  36.03603604  36.13613614  36.23623624  36.33633634  36.43643644
  36.53653654  36.63663664  36.73673674  36.83683684  36.93693694
  37.03703704  37.13713714  37.23723724  37.33733734  37.43743744
  37.53753754  37.63763764  37.73773774  37.83783784  37.93793794
  38.03803804  38.13813814  38.23823824  38.33833834  38.43843844
  38.53853854  38.63863864  38.73873874  38.83883884  38.93893894
  39.03903904  39.13913914  39.23923924  39.33933934  39.43943944
  39.53953954  39.63963964  39.73973974  39.83983984  39.93993994
  40.04004004  40.14014014  40.24024024  40.34034034  40.44044044
  40.54054054  40.64064064  40.74074074  40.84084084  40.94094094
  41.04104104  41.14114114  41.24124124  41.34134134  41.44144144
  41.54154154  41.64164164  41.74174174  41.84184184  41.94194194
  42.04204204  42.14214214  42.24224224  42.34234234  42.44244244
  42.54254254  42.64264264  42.74274274  42.84284284  42.94294294
  43.04304304  43.14314314  43.24324324  43.34334334  43.44344344
  43.54354354  43.64364364  43.74374374  43.84384384  43.94394394
  44.04404404  44.14414414  44.24424424  44.34434434  44.44444444
  44.54454454  44.64464464  44.74474474  44.84484484  44.94494494
  45.04504505  45.14514515  45.24524525  45.34534535  45.44544545
  45.54554555  45.64564565  45.74574575  45.84584585  45.94594595
  46.04604605  46.14614615  46.24624625  46.34634635  46.44644645
  46.54654655  46.64664665  46.74674675  46.84684685  46.94694695
  47.04704705  47.14714715  47.24724725  47.34734735  47.44744745
  47.54754755  47.64764765  47.74774775  47.84784785  47.94794795
  48.04804805  48.14814815  48.24824825  48.34834835  48.44844845
  48.54854855  48.64864865  48.74874875  48.84884885  48.94894895
  49.04904905  49.14914915  49.24924925  49.34934935  49.44944945
  49.54954955  49.64964965  49.74974975  49.84984985  49.94994995
  50.05005005  50.15015015  50.25025025  50.35035035  50.45045045
  50.55055055  50.65065065  50.75075075  50.85085085  50.95095095
  51.05105105  51.15115115  51.25125125  51.35135135  51.45145145
  51.55155155  51.65165165  51.75175175  51.85185185  51.95195195
  52.05205205  52.15215215  52.25225225  52.35235235  52.45245245
  52.55255255  52.65265265  52.75275275  52.85285285  52.95295295
  53.05305305  53.15315315  53.25325325  53.35335335  53.45345345
  53.55355355  53.65365365  53.75375375  53.85385385  53.95395395
  54.05405405  54.15415415  54.25425425  54.35435435  54.45445445
  54.55455455  54.65465465  54.75475475  54.85485485  54.95495495
  55.05505506  55.15515516  55.25525526  55.35535536  55.45545546
  55.55555556  55.65565566  55.75575576  55.85585586  55.95595596
  56.05605606  56.15615616  56.25625626  56.35635636  56.45645646
  56.55655656  56.65665666  56.75675676  56.85685686  56.95695696
  57.05705706  57.15715716  57.25725726  57.35735736  57.45745746
  57.55755756  57.65765766  57.75775776  57.85785786  57.95795796
  58.05805806  58.15815816  58.25825826  58.35835836  58.45845846
  58.55855856  58.65865866  58.75875876  58.85885886  58.95895896
  59.05905906  59.15915916  59.25925926  59.35935936  59.45945946
  59.55955956  59.65965966  59.75975976  59.85985986  59.95995996
  60.06006006  60.16016016  60.26026026  60.36036036  60.46046046
  60.56056056  60.66066066  60.76076076  60.86086086  60.96096096
  61.06106106  61.16116116  61.26126126  61.36136136  61.46146146
  61.56156156  61.66166166  61.76176176  61.86186186  61.96196196
  62.06206206  62.16216216  62.26226226  62.36236236  62.46246246
  62.56256256  62.66266266  62.76276276  62.86286286  62.96296296
  63.06306306  63.16316316  63.26326326  63.36336336  63.46346346
  63.56356356  63.66366366  63.76376376  63.86386386  63.96396396
  64.06406406  64.16416416  64.26426426  64.36436436  64.46446446
  64.56456456  64.66466466  64.76476476  64.86486486  64.96496496
  65.06506507  65.16516517  65.26526527  65.36536537  65.46546547
  65.56556557  65.66566567  65.76576577  65.86586587  65.96596597
  66.06606607  66.16616617  66.26626627  66.36636637  66.46646647
  66.56656657  66.66666667  66.76676677  66.86686687  66.96696697
  67.06706707  67.16716717  67.26726727  67.36736737  67.46746747
  67.56756757  67.66766767  67.76776777  67.86786787  67.96796797
  68.06806807  68.16816817  68.26826827  68.36836837  68.46846847
  68.56856857  68.66866867  68.76876877  68.86886887  68.96896897
  69.06906907  69.16916917  69.26926927  69.36936937  69.46946947
  69.56956957  69.66966967  69.76976977  69.86986987  69.96996997
  70.07007007  70.17017017  70.27027027  70.37037037  70.47047047
  70.57057057  70.67067067  70.77077077  70.87087087  70.97097097
  71.07107107  71.17117117  71.27127127  71.37137137  71.47147147
  71.57157157  71.67167167  71.77177177  71.87187187  71.97197197
  72.07207207  72.17217217  72.27227227  72.37237237  72.47247247
  72.57257257  72.67267267  72.77277277  72.87287287  72.97297297
  73.07307307  73.17317317  73.27327327  73.37337337  73.47347347
  73.57357357  73.67367367  73.77377377  73.87387387  73.97397397
  74.07407407  74.17417417  74.27427427  74.37437437  74.47447447
  74.57457457  74.67467467  74.77477477  74.87487487  74.97497497
  75.07507508  75.17517518  75.27527528  75.37537538  75.47547548
  75.57557558  75.67567568  75.77577578  75.87587588  75.97597598
  76.07607608  76.17617618  76.27627628  76.37637638  76.47647648
  76.57657658  76.67667668  76.77677678  76.87687688  76.97697698
  77.07707708  77.17717718  77.27727728  77.37737738  77.47747748
  77.57757758  77.67767768  77.77777778  77.87787788  77.97797798
  78.07807808  78.17817818  78.27827828  78.37837838  78.47847848
  78.57857858  78.67867868  78.77877878  78.87887888  78.97897898
  79.07907908  79.17917918  79.27927928  79.37937938  79.47947948
  79.57957958  79.67967968  79.77977978  79.87987988  79.97997998
  80.08008008  80.18018018  80.28028028  80.38038038  80.48048048
  80.58058058  80.68068068  80.78078078  80.88088088  80.98098098
  81.08108108  81.18118118  81.28128128  81.38138138  81.48148148
  81.58158158  81.68168168  81.78178178  81.88188188  81.98198198
  82.08208208  82.18218218  82.28228228  82.38238238  82.48248248
  82.58258258  82.68268268  82.78278278  82.88288288  82.98298298
  83.08308308  83.18318318  83.28328328  83.38338338  83.48348348
  83.58358358  83.68368368  83.78378378  83.88388388  83.98398398
  84.08408408  84.18418418  84.28428428  84.38438438  84.48448448
  84.58458458  84.68468468  84.78478478  84.88488488  84.98498498
  85.08508509  85.18518519  85.28528529  85.38538539  85.48548549
  85.58558559  85.68568569  85.78578579  85.88588589  85.98598599
  86.08608609  86.18618619  86.28628629  86.38638639  86.48648649
  86.58658659  86.68668669  86.78678679  86.88688689  86.98698699
  87.08708709  87.18718719  87.28728729  87.38738739  87.48748749
  87.58758759  87.68768769  87.78778779  87.88788789  87.98798799
  88.08808809  88.18818819  88.28828829  88.38838839  88.48848849
  88.58858859  88.68868869  88.78878879  88.88888889  88.98898899
  89.08908909  89.18918919  89.28928929  89.38938939  89.48948949
  89.58958959  89.68968969  89.78978979  89.88988989  89.98998999
  90.09009009  90.19019019  90.29029029  90.39039039  90.49049049
  90.59059059  90.69069069  90.79079079  90.89089089  90.99099099
  91.09109109  91.19119119  91.29129129  91.39139139  91.49149149
  91.59159159  91.69169169  91.79179179  91.89189189  91.99199199
  92.09209209  92.19219219  92.29229229  92.39239239  92.49249249
  92.59259259  92.69269269  92.79279279  92.89289289  92.99299299
  93.09309309  93.19319319  93.29329329  93.39339339  93.49349349
  93.59359359  93.69369369  93.79379379  93.89389389  93.99399399
  94.09409409  94.19419419  94.29429429  94.39439439  94.49449449
  94.59459459  94.69469469  94.79479479  94.89489489  94.99499499
  95.0950951   95.1951952   95.2952953   95.3953954   95.4954955
  95.5955956   95.6956957   95.7957958   95.8958959   95.995996
  96.0960961   96.1961962   96.2962963   96.3963964   96.4964965
  96.5965966   96.6966967   96.7967968   96.8968969   96.996997
  97.0970971   97.1971972   97.2972973   97.3973974   97.4974975
  97.5975976   97.6976977   97.7977978   97.8978979   97.997998
  98.0980981   98.1981982   98.2982983   98.3983984   98.4984985
  98.5985986   98.6986987   98.7987988   98.8988989   98.998999
  99.0990991   99.1991992   99.2992993   99.3993994   99.4994995
  99.5995996   99.6996997   99.7997998   99.8998999  100.        ]
[ 3.  5.  7.  9. 11. 13. 15. 17. 19.]
[ 0  4 10 18 28 40 54 70 88]
[1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [11]:
#%% string & indexing
  
s1 = 'a single quote string'
s2 = "a double quote string"
s3 = '''a triple quote string'''
  
print(s3[0])#a
print(s2[:4])#a do
print(s3)
  
s4 = """
Triple double quotes
is usually used
in multiple lines, such as documents
"""
print(s4)
 
# concatenate strings
s5 = 'This is ' + s1
  
# string list
str_list = ['r', 'g', 'b', 'k', 'y']
print(str_list[1])
  
# Dictionaries
meals = {'breakfast': 'sardines', 'lunch': 'salad', 'dinner': 'cake', 'cost':40}
print(meals['breakfast'])#g
print(meals['cost'])#sardines
print('The meal costs {} dollars'.format(meals['cost'])) 
#The meal costs 40 dollars

a
a do
a triple quote string

Triple double quotes
is usually used
in multiple lines, such as documents

g
sardines
40
The meal costs 40 dollars

In [21]:
col_names = ['col1', 'col2', 'col3'] # string list
col_names_join = ','.join(col_names) # convert to a string
col_names_split = col_names_join.split(',') # convert a string to a list
print(col_names_join) 
#[col1,col2,col3]
print(col_names_split)
#["col1","col2","col3"]
 
a_sentence = "台北大學統計系"
where_am_I = a_sentence.find('統計')
where_is_it = a_sentence.find('會計') # -1 means NOT FOUND
print(where_am_I)#4
print(where_is_it)#-1

col1,col2,col3
['col1', 'col2', 'col3']
4
-1

In [27]:
from numpy import linalg #numpy裡面的套件linalg，因為套件很多，必須要加入這行，使用時才不用加很長
import numpy as np 
import scipy.linalg as LA # scipy's linear algebra is better
 
X = np.array([[1,2,3],[4,5,6]]) # a 2x3 matrix
# check the information of X
Xdim = X.ndim
Xshape = X.shape
Xsize = X.size
print(Xdim)#2
print(Xshape)#(2,3)
print(Xsize)#6 #共6個元素
 
a = X[0, 1]
P = X * X # element by element multiplication
Q = X / X # element by element division
R = X @ X.T # XX'
print(a)
#2
print(P)
#[[ 1  4  9]
# [16 25 36]]
print(Q)
#[[1. 1. 1.]
# [1. 1. 1.]]
print(R)
#[[14 32]
# [32 77]]

#total_sum=np.sum(X) #從numpy取出
total_sum = X.sum() # X.mean()... #要X是numpy物件才可以取出
row_sum = X.sum(axis = 1) # sum over each row
col_sum = X.sum(axis = 0) # sum over each column
# col_sum = np.sum(X, axis = 0) 
print(total_sum)#21
print(row_sum)#[ 6 15]
print(col_sum)#[5 7 9]
 
A = np.array([[1, 1, 1],[2, 4, 6],[5, 7, 6]])
b = np.array([1, 2, 3])
x =  LA.inv(A) @ b  # Ax = b
xsol = LA.solve(A, b) # Ax = b
I = A @ LA.inv(A) # double check what LA.inv(A) is
print(A)
#[[1 1 1]
# [2 4 6]
# [5 7 6]]
print(b)
#[1 2 3]
print(x)
#[ 1.66666667 -1.33333333  0.66666667]
print(xsol)
#[ 1.66666667 -1.33333333  0.66666667]
print(I)
#[[ 1.00000000e+00  1.66533454e-16 -1.66533454e-16]
# [ 4.44089210e-16  1.00000000e+00 -6.66133815e-16]
# [ 2.22044605e-15  7.77156117e-16  1.00000000e+00]]

 
A_square = linalg.matrix_power(A, 2) # nth power of a matrix
A_square_root = LA.fractional_matrix_power(A, 0.5)
print(A_square)
#[[ 8 12 13]
# [40 60 62]
# [49 75 83]]
print(A_square_root)
#[[0.73878486-0.02707346j 0.24860816-0.02513898j 0.24396951+0.0236736j ]
# [0.42299787+0.73072319j 1.41039089+0.67851076j 1.53803548-0.63895957j]
# [1.29406597-0.66263317j 1.78200499-0.61528598j 1.91224586+0.57942024j]]
 
B = np.vstack((A, b)) # 4 x 3
C = np.hstack((A, b.reshape(3, 1))) # 3 x 4
print(B)
#[[1 1 1]
# [2 4 6]
# [5 7 6]
# [1 2 3]]
print(C)
#[[1 1 1 1]
# [2 4 6 2]
# [5 7 6 3]]
 
B_row = np.insert(A, 3, b, 0) # 3 is the position index; 0 is for row
B_col = np.insert(A, 3, b, 1) # 3 is the position index; 1 is for column
print(B_row)
#[[1 1 1]
# [2 4 6]
# [5 7 6]
# [1 2 3]]
print(B_col)
#[[1 1 1 1]
# [2 4 6 2]
# [5 7 6 3]]

[[ 8 12 13]
 [40 60 62]
 [49 75 83]]
[[0.73878486-0.02707346j 0.24860816-0.02513898j 0.24396951+0.0236736j ]
 [0.42299787+0.73072319j 1.41039089+0.67851076j 1.53803548-0.63895957j]
 [1.29406597-0.66263317j 1.78200499-0.61528598j 1.91224586+0.57942024j]]
[[1 1 1]
 [2 4 6]
 [5 7 6]
 [1 2 3]]
[[1 1 1 1]
 [2 4 6 2]
 [5 7 6 3]]
[[1 1 1]
 [2 4 6]
 [5 7 6]
 [1 2 3]]
[[1 1 1 1]
 [2 4 6 2]
 [5 7 6 3]]

In [33]:
import numpy as np 
  
x = np.array([1, 2, 5, 3, 2])
x[x > 3] = 9 # replaced by 9; conditioned on x>3
y = np.where(x > 3, 9, x)
z = np.where(x >=3, 1, 0)
#-------------------------------
p = [] # p is a empty list
print(not p)  # check if p is empty or not
# print(p is None) 
# Check whether variable p is defined or not
print('p' in locals())
#-------------------------------
a = 3
if a > 1 and a < 5 :
    print('TRUE')
else :
    print('FALSE')
  
if a > 5 or a < 1 :
    print('OUTSIDE')
else :
    print('INSIDE')
#-------------------------------
# compact expression for if...else...
flag = 1
status = "play" if flag ==1 else "stop"
print(status)

True
True
TRUE
INSIDE
play

In [41]:
import pandas as pd
 
A = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
df = pd.DataFrame(A)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [42]:
df.columns = ["col1", "col2", "col3", "col4"]
c1 = [91, 92, 93]
c2 = [71, 72, 73]
c3 = [51, 52, 53]
c4 = [31, 32, 33]
df = df.assign(col5 = c1) # add c1 to the last column with header="col5"
df.insert(2, 'new', c2) # insert c2 to column#2 with header="new"
df['col6'] = c3 # add c3 to the last column with header="col6"
df

   col1  col2  new  col3  col4  col5  col6
0     1     2   71     3     4    91    51
1     5     6   72     7     8    92    52
2     9    10   73    11    12    93    53

In [43]:
r1 = [81, 82, 83, 84, 85, 86, 87]
df.loc[len(df)] = r1 # add r1 to the last row (the last location)
r2 = [61, 62, 63, 64, 65, 66, 67]

df.loc[-0.5] = r2 # add r2 and move to the top location
df = df.sort_index().reset_index(drop=True) 

df.loc[1.5] = r2 # insert r2 in the location between row1 and row2
df = df.sort_index().reset_index(drop=True)
df

   col1  col2  new  col3  col4  col5  col6
0    61    62   63    64    65    66    67
1     1     2   71     3     4    91    51
2    61    62   63    64    65    66    67
3     5     6   72     7     8    92    52
4     9    10   73    11    12    93    53
5    81    82   83    84    85    86    87

In [44]:
# 察看結果便知道下列幾行的功能
df.drop(['new', 'col6'], axis=1, inplace=True)#把new,col6刪掉
df.drop(df.index[2], inplace=True)#刪掉第二個row
df = df.sort_index().reset_index(drop=True)
df

   col1  col2  col3  col4  col5
0    61    62    64    65    66
1     1     2     3     4    91
2     5     6     7     8    92
3     9    10    11    12    93
4    81    82    84    85    86

In [20]:
print(df.loc[0:3]) # loc denotes row number
print(df[["col2", "col3"]].loc[0:2])
print(df.iloc[0:3, 0:4])#row取0,1,2 #column取0,1,2,3

D = df.values.astype(int) # convert pandas dataframe to numpy array
print(D)

   col1  col2  col3  col4  col5
0    61    62    64    65    66
1     1     2     3     4    91
2     5     6     7     8    92
3     9    10    11    12    93
   col2  col3
0    62    64
1     2     3
2     6     7
   col1  col2  col3  col4
0    61    62    64    65
1     1     2     3     4
2     5     6     7     8
[[61 62 64 65 66]
 [ 1  2  3  4 91]
 [ 5  6  7  8 92]
 [ 9 10 11 12 93]
 [81 82 84 85 86]]

In [22]:
import pandas as pd
 
penguins_data="https://raw.githubusercontent.com/datavizpyr/data/master/palmer_penguin_species.tsv"
df = pd.read_csv(penguins_data, sep="\t")  # pd.read_excel()
df = df.dropna() # drop NA data (missing data)
print(df.head(10)) # print out the first 10 rows of data
print(df.info())
print(df.describe())
df.to_excel('pengnus_species.xlsx') # save as a xlsx file

   species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0   Adelie  Torgersen              39.1             18.7              181.0
1   Adelie  Torgersen              39.5             17.4              186.0
2   Adelie  Torgersen              40.3             18.0              195.0
4   Adelie  Torgersen              36.7             19.3              193.0
5   Adelie  Torgersen              39.3             20.6              190.0
6   Adelie  Torgersen              38.9             17.8              181.0
7   Adelie  Torgersen              39.2             19.6              195.0
12  Adelie  Torgersen              41.1             17.6              182.0
13  Adelie  Torgersen              38.6             21.2              191.0
14  Adelie  Torgersen              34.6             21.1              198.0

    body_mass_g     sex
0        3750.0    MALE
1        3800.0  FEMALE
2        3250.0  FEMALE
4        3450.0  FEMALE
5        3650.0    MALE
6        3625.0  FEMALE
7        4675.0    MALE
12       3200.0  FEMALE
13       3800.0    MALE
14       4400.0    MALE
<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   culmen_length_mm   333 non-null    float64
 3   culmen_depth_mm    333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB
None
       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        333.000000       333.000000         333.000000   333.000000
mean          43.992793        17.164865         200.966967  4207.057057
std            5.468668         1.969235          14.015765   805.215802
min           32.100000        13.100000         172.000000  2700.000000
25%           39.500000        15.600000         190.000000  3550.000000
50%           44.500000        17.300000         197.000000  4050.000000
75%           48.600000        18.700000         213.000000  4775.000000
max           59.600000        21.500000         231.000000  6300.000000